.ButtonGroup {
    height: 130px;
    width: 500px;
    background-color: #1b7dd4;
    border-radius: 8px;
    margin: 10px 0;

    h3 {
        color: #FFF;
        font-weight: 700;
        margin: 5px 0;
        text-align: center;

    }

    .Buttons-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}