.LvlScore {
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    width: 80%;
    margin: 0 auto;
    p {
        display: inline-block;
        width: 25%;
        font-size: 36px;
        color: #FFF;
        margin: 5px 0;
        text-align: center;
        // border: 1px solid red;
    }
}